<div class="container">
  <div class="row">
    <!-- currentPage : {{currentPage}}
    totalPages: {{totalPages}} -->
    <form ng-submit="search()">
      <div class="input-group">
        <input type="text" ng-model="sSearchTerm" placeholder="What are you looking for?" class="form-control" ng-keyup="search()">
        <span class="input-group-btn">
          <button class="btn btn-primary" ladda="searchLoading"  data-style="expand-right" ng-click="search()">Search</button>
          <input type="button" class="btn btn-danger" value="Clean" ng-click="clean()">
        </span>
      </div>
    </form>
  </div>


  <div class="results" infinite-scroll='loadMore()'>
    <div class="row" ng-if="aoResult.length < 1">
      No results found.
    </div>
    <list-result-item ng-repeat="oResult in aoResult">
    </list-result-item>
    <div class="row" ng-show="loadingMore">
      <div class="col-md-12 text-center">
        <i class="fa fa-spinner fa-pulse fa-2x"></i>
      </div>
    </div>
  </div>
</div>
