<div ng-switch="oResult.media_type" class="panel animate" ng-class="{'panel-info': oResult.media_type == 'person', 'panel-warning': oResult.media_type == 'movie',  'panel-success': oResult.media_type == 'tv'}" >
  <!-- <div class="panel-heading">
    <h3 ng-switch-when="person"  class="panel-title"><a ng-href="#detail/{{oResult.id}}">{{oResult.name}}</a></h3>
    <h3 ng-switch-when="movie" class="panel-title"><a ng-href="#movie/{{oResult.id}}">(Movie) {{oResult.title}}</a></h3>
    <h3 ng-switch-when="tv" class="panel-title"><a ng-href="#tv/{{oResult.id}}">(TV) {{oResult.name}}</a></h3>
  </div> -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <a ng-switch-when="person" ng-href="#detail/{{oResult.id}}">
          <img class="img-thumbnail" ng-if="oResult.profile_path" data-ng-src="http://image.tmdb.org/t/p/w45/{{oResult.profile_path}}">
          <img class="img-thumbnail" ng-if="!oResult.profile_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
        </a>
        <a ng-switch-when="movie" ng-href="#movie/{{oResult.id}}">
          <img class="img-thumbnail" ng-if="oResult.poster_path" data-ng-src="http://image.tmdb.org/t/p/w45/{{oResult.poster_path}}">
          <img class="img-thumbnail" ng-if="!oResult.poster_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
        </a>
        <a ng-switch-when="tv" ng-href="#tv/{{oResult.id}}">
          <img class="img-thumbnail" ng-if="oResult.poster_path" data-ng-src="http://image.tmdb.org/t/p/w45/{{oResult.poster_path}}">
          <img class="img-thumbnail" ng-if="!oResult.poster_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
        </a>
      </div>
      <div class="col-md-10">

        <h4 ng-switch-when="person" class="mycentertext"><a ng-href="#detail/{{oResult.id}}">{{oResult.name}}</a></h4>
        <h4 ng-switch-when="movie" class="mycentertext"><a ng-href="#movie/{{oResult.id}}">(Movie) {{oResult.title}}</a></h4>
        <h4 ng-switch-when="tv" class="mycentertext"><a ng-href="#tv/{{oResult.id}}">(TV) {{oResult.name}}</a></h3>
      </div>
      <!-- <div class="col-md-10" ng-if="oResult.media_type == 'movie' || oResult.media_type == 'tv'">
         {{oResult.overview}}
      </div> -->
    </div>

  </div>
</div>
